html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: #4e6b7c;
}

.nav-wrapper {
  height: 120px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  margin: 5px;
  padding: 0;
  width: 15%;
}

.logo img {
  max-height: 100%;
}

.nav-wrapper .headerMessage {
  padding: 0;
  margin: 5px;
  width: 80%;
  /* Mihai Pop: mesajul din dreapta logoului */
  font-size: 45px;
  line-height: 110px;
}

.slider {
  width: 100%;
  height: 100%;
}

.slider-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.slide {
  float: left;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s linear;
}

.slider-wrapper > .slide:first-child {
  opacity: 1;
}

.mainContainer {
  margin: 0 auto;
  padding: 0;
  height: -moz-calc(100% - 120px); /* Firefox */
  height: -webkit-calc(100% - 120px); /* Chrome, Safari */
  height: calc(100% - 120px); /* IE9+ and future browsers */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 1% 0 1% 1%;
  padding: 0;
  background-color: white;
  text-align: center;
  width: 50%;
}

.counterContainer {
  flex: 48%;
  margin: 1% auto;
  max-width: 48%;
  background-color: #82e600;
}

/* Mihai Pop: textul din stanga de deasupra counterului */
.left p {
  font-size: 50px;
}

.right {
  margin: 1% 1% 1% 0;
  padding: 0;
  width: 49%;
}

.counter {
  margin: 0 auto;
  text-align: center;
  /* Mihai Pop: contorul */
  font-size: 70px;
  font-weight: bold;
  line-height: 140px;
  background-color: white;
  border: 1px solid #4e6b7c;
  width: 140px;
  height: 140px;
}

.reset {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.resetButtonContainer {
  padding: 20px;
}

.history {
  display: flex;
  flex-direction: column;
  align-items: center;
}
