html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: #4e6b7c;
}

.nav-wrapper {
  height: 90px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  margin: 5px;
  padding: 0;
  width: 15%;
}

.logo img {
  max-height: 100%;
}

.nav-wrapper .headerMessage {
  padding: 0;
  margin: 5px;
  width: 80%;
  /* Mihai Pop: mesajul din dreapta logoului */
  font-size: 30px;
  line-height: 80px;
}

.slider {
  width: 100%;
  height: 100%;
}

.slider-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.slide {
  float: left;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s linear;
}

.slider-wrapper > .slide:first-child {
  opacity: 1;
}

.mainContainer {
  margin: 0 auto;
  padding: 0;
  height: -moz-calc(100% - 90px); /* Firefox */
  height: -webkit-calc(100% - 90px); /* Chrome, Safari */
  height: calc(100% - 90px); /* IE9+ and future browsers */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px 0 5px 5px;
  padding: 0;
  background-color: #82e600;
  text-align: center;
  width: 30%;
}

/* Mihai Pop: textul din stanga de deasupra counterului */
.left p {
  font-size: 30px;
}

.right {
  margin: 5px;
  padding: 0;
  width: 68%;
}

.counter {
  margin: 0 auto;
  text-align: center;
  /* Mihai Pop: contorul */
  font-size: 30px;
  font-weight: bold;
  line-height: 80px;
  background-color: white;
  border: 1px solid #4e6b7c;
  width: 80px;
  height: 80px;
}

.reset {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.resetButtonContainer {
  padding: 20px;
}
